@import 'tailwindcss';
@import 'fumadocs-ui/css/solar.css';
@import 'fumadocs-ui/css/preset.css';

@theme {
    --color-fd-primary: var(--teoria-color);
}

.dark {
    --color-fd-primary: var(--teoria-color);
}

.programowanie {
    --color-fd-primary: var(--programowanie-color);
}

.uzytkowe {
    --color-fd-primary: var(--uzytkowe-color);
}

:root {
    --teoria-color: hsl(227, 88%, 59%);
    --programowanie-color: hsl(137, 80%, 36%);
    --uzytkowe-color: hsl(317, 72%, 59%);
}

.dark {
    --teoria-color: hsl(227, 80%, 59%);
    --programowanie-color: hsl(137, 72%, 59%);
    --uzytkowe-color: hsl(317, 69%, 59%);
  }
