# Workflow taken and mixed from @sveltejs my beloved
name: Publish Any Commit
on: [push, pull_request]

permissions: 
    contents: read

jobs:
  build:
    permissions: {}

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10.16.1
      - uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Lint
        if: (${{ success() }} || ${{ failure() }}) # ensures this step runs even if previous steps fail (avoids multiple runs uncovering different issues at different steps)
        run: pnpm run lint
      - name: Build
        run: pnpm run build