# Workflow taken and mixed from @sveltejs my beloved
name: Publish Any Commit
on: [pull_request]

permissions: 
    contents: read

jobs:
  pr-build:
    permissions: {}

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10.16.1
      - uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Build
        run: pnpm run build